@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.771);
  margin: 0;
  padding: 0;
}

.explore-btn {
  display: flex;
  justify-content: center;
}

.explore-btn button {
  border: none;
  transition: 0.3s;
  border-radius: 40px;
  padding: 20px 30px;
  background: linear-gradient(45deg, #ff79da, #9356dc);
  color: white;
}

.explore-btn button:hover {
  background: linear-gradient(-90deg, #ff79da, #9356dc);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.368627451);
}

.spacer {
  height: 30px;
}

a {
  text-decoration: none;
}

.fav {
  padding-right: 30px;
  font-size: 22px;
}
.fav .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.fav .fa-heart:hover {
  font-weight: 900; /* corresponds to 'fas' */
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.771);
  margin: 0;
  padding: 0;
}

.explore-btn {
  display: flex;
  justify-content: center;
}

.explore-btn button {
  border: none;
  transition: 0.3s;
  border-radius: 40px;
  padding: 20px 30px;
  background: linear-gradient(45deg, #ff79da, #9356dc);
  color: white;
}

.explore-btn button:hover {
  background: linear-gradient(-90deg, #ff79da, #9356dc);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.368627451);
}

.spacer {
  height: 30px;
}

a {
  text-decoration: none;
}

.fav {
  padding-right: 30px;
  font-size: 22px;
}
.fav .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.fav .fa-heart:hover {
  font-weight: 900; /* corresponds to 'fas' */
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}

header {
  background-color: white;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  line-height: 43.74px;
  font-family: Shrikhand;
  font-weight: 400;
}

header .location {
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.3215686275);
}
header .location p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
}
header .location p i {
  margin-right: 3px;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.771);
  margin: 0;
  padding: 0;
}

.explore-btn {
  display: flex;
  justify-content: center;
}

.explore-btn button {
  border: none;
  transition: 0.3s;
  border-radius: 40px;
  padding: 20px 30px;
  background: linear-gradient(45deg, #ff79da, #9356dc);
  color: white;
}

.explore-btn button:hover {
  background: linear-gradient(-90deg, #ff79da, #9356dc);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.368627451);
}

.spacer {
  height: 30px;
}

a {
  text-decoration: none;
}

.fav {
  padding-right: 30px;
  font-size: 22px;
}
.fav .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.fav .fa-heart:hover {
  font-weight: 900; /* corresponds to 'fas' */
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}

.landing {
  font-family: Roboto;
  text-align: center;
  color: black;
  background-color: rgb(246, 246, 246);
}
.landing h2 {
  font-size: 29px;
  font-weight: 700;
  line-height: 28.13px;
  padding: 50px 0px 30px;
  margin: 0;
}
.landing p {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  color: #353535;
  padding: 0 30px;
}
.landing .explore-btn {
  padding: 50px 0;
}

.fonctionnement {
  padding: 20px;
}
.fonctionnement h2 {
  padding-bottom: 20px;
}
.fonctionnement .boxes {
  text-align: center;
}
.fonctionnement .box {
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2196078431);
}
.fonctionnement .box:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.368627451);
}
.fonctionnement .box i {
  padding: 0 20px 0 45px;
  color: #9356dc;
}
.fonctionnement .box::before {
  content: "01";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 7px;
  text-align: center;
  left: -10px;
  color: white;
}

@media (min-width: 1024px) {
  .fonctionnement {
    padding: 0 100px;
  }
  .fonctionnement .boxes {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
  }
  .fonctionnement .box {
    margin: 10px;
    padding: 5px 30px;
  }
}
.restaurants {
  padding: 20px;
}
.restaurants .plats .nouveau-plat .img::before {
  content: "Nouveau";
  position: absolute;
  background-color: #66ebca;
  color: #008766;
  padding: 6px;
  right: 12px;
  top: 12px;
}
.restaurants .plats .plat-link {
  text-decoration: none;
  display: block;
  color: inherit;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #f4f4f4;
  position: relative;
  margin-bottom: 20px;
  transition: 0.3s;
}
.restaurants .plats .plat-link:hover {
  transform: scale(1.03);
}
.restaurants .plats .plat-link .img {
  overflow: hidden;
  height: 200px;
}
.restaurants .plats .plat-link img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .plats .plat-link .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .plats .plat-link .name {
  padding: 5px 20px 5px;
  font-family: Roboto;
}
.restaurants .plats .plat-link .name h3 {
  font-size: 18px;
  font-weight: 700;
}
.restaurants .plats .plat-link .name p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1.001px;
  margin: 0;
}

@media (min-width: 1024px) {
  .restaurants {
    padding: 100px;
  }
  .plats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px 40px;
  }
}
footer {
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  padding: 20px 35px;
}
footer h3 {
  font-family: Shrikhand;
}
footer div {
  display: flex;
  flex-direction: column;
}
footer div span {
  padding-top: 10px;
  cursor: pointer;
}
footer div span i {
  padding-right: 8px;
}
footer div a {
  color: whitesmoke;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  footer div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer div span {
    margin-right: 30px;
  }
}
.page {
  background-color: #f6f6f6;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  line-height: 43.74px;
  font-family: Shrikhand;
  font-weight: 400;
}

.header .icon-back {
  position: absolute;
  left: 30px;
  top: 28px;
}

img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.container {
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  top: -60px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 20px 30px;
  /** title green */
}
.container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  color: black;
}
.container .content .name p {
  padding-right: 50px;
}
.container .spec-title {
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  margin-bottom: 25px;
}
.container .spec-title::before {
  content: "";
  position: absolute;
  width: 70%;
  background-color: #99e2d0;
  height: 2px;
  bottom: -5px;
  left: 1px;
}
.container .plat-price {
  background-color: white;
  box-shadow: 0.5px 0.5px 7px 0px rgba(0, 0, 0, 0.06);
  padding: 15px 25px;
  margin-top: 15px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}
.container .plat-price::after {
  content: "";
  transition: 0.3s;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  background-color: #99e2d0;
  font-size: 22px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .plat-price:hover::after {
  content: "\f00c";
  width: 90px;
}
.container .plat-price:hover .desc {
  margin-right: 90px;
}
.container .plat-price:hover .title {
  margin-right: 90px;
}
.container .plat-price p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
.container .plat-price .desc {
  display: flex;
  transition: 0.3s;
  justify-content: space-between;
  padding-top: 7px;
  font-weight: 300;
}
.container .plat-price .desc span:last-child {
  font-weight: bold;
}

.explore-btn {
  padding: 55px 0 0 0;
}

@media (min-width: 1024px) {
  .page {
    background-color: white;
  }
  .container {
    margin: 10px auto;
    width: 600px;
  }
  .content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.palts .plat-price {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}
.palts .plat-price:nth-child(1) {
  animation-delay: 0.3s;
}
.palts .plat-price:nth-child(2) {
  animation-delay: 0.6s;
}
.palts .plat-price:nth-child(3) {
  animation-delay: 0.9s;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.771);
  margin: 0;
  padding: 0;
}

.explore-btn {
  display: flex;
  justify-content: center;
}

.explore-btn button {
  border: none;
  transition: 0.3s;
  border-radius: 40px;
  padding: 20px 30px;
  background: linear-gradient(45deg, #ff79da, #9356dc);
  color: white;
}

.explore-btn button:hover {
  background: linear-gradient(-90deg, #ff79da, #9356dc);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.368627451);
}

.spacer {
  height: 30px;
}

a {
  text-decoration: none;
}

.fav {
  padding-right: 30px;
  font-size: 22px;
}
.fav .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.fav .fa-heart:hover {
  font-weight: 900; /* corresponds to 'fas' */
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 1s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 45px;
  width: 25px;
  border-radius: 10px;
  animation: up_down 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 90px;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9356dc;
  opacity: 0;
}
.loader__item--2 {
  background-color: #ff79da;
  animation-delay: 0.25s;
  opacity: 0;
}
.loader__item--3 {
  background-color: #99e2d0;
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes up_down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(0.5rem);
    opacity: 1;
  }
  75% {
    transform: translateY(-0.5rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*# sourceMappingURL=styles.css.map */
